$primary-color :blue;
$primary-background:yellow;
body {
    color: $primary-color;
    background: $primary-background;
}

div {
    color: $primary-color;
}

.card {
    filter: blur(3px);
    transform: rotate(120deg);
}

.andy {
    transition: rotate(120deg);
}

#test {
    transform: skew(10, 20);
}